@font-face {
    font-family: "pretendo";
    src: url(/font/pretendo.ttf);
}  

*{
    margin: 0;
    padding: 0;
    background-color: #DA625C;  
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.box {
    margin-top: 50px;
    width: 300px;
    height: 500px;
    background: #9768A7;
    border-radius: 5% 5% 20% 5%; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}  
  
/* monitors section */

.monitor {
    width: 250px;
    height: 200px;
    background-color: black;
    margin-top: 20px;
    border-radius: 5% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.monitor-2 {
    margin-top: 20px;;
    width: 200px;
    height: 130px;
    background-color: #302f36;
    border-radius: 5% 5% 5% 5%;
    background-image: url(https://tenor.com/it/view/galaxian-video-game-arcade-midway-games-80s-gif-16902004);
    background-attachment: fixed;
    background-size: cover;
}

/* logo section */

.logo{
    border: 1px solid #eddef1;
    background-color: #9768A7;
    border-radius: 25px ;
    height: 30px;
    width: 90px;
    position: absolute;
    bottom: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
h3 {
    font-family: pretendo;
    font-size: 12px;
    color: #dfa4f0;
    letter-spacing: 2px;
}

/* direcional buttons section */

.buttons {
    width: 100px;
    height: 50px;
    border: 1px solid #7f4c929c;
    background-color: #a271b49c;
    border-radius: 25px;
    transform: rotate(-60deg);
    position: absolute;
    bottom: 120px;
    right: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    justify-content:space-around ;
}

.up {
    width: 30px;
    height: 30px;
    background-color: #302f36;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: rgba(214, 200, 200, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    box-shadow: rgba(68, 68, 70, 0.25) 0px 30px 60px -12px inset, rgba(197, 192, 192, 0.3) 0px 18px 36px -18px inset;
}

.down {
    width: 30px;
    height: 30px;
    background-color: #302f36;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    left: 10px;
    box-shadow: rgba(68, 68, 70, 0.25) 0px 30px 60px -12px inset, rgba(197, 192, 192, 0.3) 0px 18px 36px -18px inset;
}

.up:hover, .down:hover, .cross-button:hover, .first:hover, .second:hover {
    border: 2px solid #dfa4f0;
    box-shadow: #eddef1;
}

/*   cross button section     */

.direction {
    width: 100px;
    height: 100px;
    background-color: #a271b49c;
    border: 1px solid #7f4c929c;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
}
  
/* .cross-button {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 10px;
    clip-path: polygon(32.2% 0%, 66.4% 0%, 66.4% 33%, 100% 33%, 100% 66%, 66.4% 66%, 66.4% 100%, 32.2% 100%, 32.2% 66%, 0% 66%, 0% 33%, 32.2% 33%);
    border-radius: 20%;
    background: #302f36;
    box-shadow: rgba(128, 128, 129, 0.25) 0px 30px 60px -12px inset, rgba(197, 192, 192, 0.3) 0px 18px 36px -18px inset;
} */

.cross-button {
    width: 100px;
    height: 100px;
    
}

.first, .second, .third {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 30px;
    height: 30px;
    justify-items: flex-start;
    background-color: #302f36;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.middle-1, .middle-2, .middle-3 {
    width: 30px;
    height: 30px;
    background-color: #302f36;
    border: 1px solid black;
}

.bottom {
    width: 30px;
    height: 30px;
    justify-items: flex-end;
    background-color: #302f36;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.circle {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}



/*   segment section with the two small buttons at the bottom    */



.segments {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 25px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 460px;
    left: 1px;
  
}
  
.seg-1 {
    width: 30px;
    height: 10px;
    background-color: #302f36;
    border-radius: 25px ;
    position: relative;
    left: 30px;
  
}
  
.seg-2 {
    width: 30px;
    height: 10px;
    background-color: #302f36;
    border-radius: 25px;
    position: relative;
    right: 30px;
}