@font-face {
    font-family: "pretendo";
    src: url(/pretendo.ttf);
  }  

*{
    margin: 0;
    padding: 0;
    background-color: #DA625C;  
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.box {
    margin-top: 50px;
    width: 300px;
    height: 500px;
    background: #9768A7;
    border-radius: 5% 5% 20% 5%; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}  
  
/* monitors section */

.monitor {
    width: 250px;
    height: 200px;
    background-color: black;
    margin-top: 20px;
    border-radius: 5% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.monitor-2 {
    margin-top: 20px;;
    width: 200px;
    height: 130px;
    background-color: #302f36;
    border-radius: 5% 5% 5% 5%;
    background-image: url(https://tenor.com/it/view/galaxian-video-game-arcade-midway-games-80s-gif-16902004);
    background-attachment: fixed;
    background-size: cover;
}

/* logo section */

.logo{
    border: 1px solid #eddef1;
    background-color: #9768A7;
    border-radius: 25px ;
    height: 30px;
    width: 90px;
    position: absolute;
    bottom: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    font-family: pretendo;
    font-size: 15px;
    color: #dfa4f0;
  }

/* direcional buttons section */
  